<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="data:,"> <!-- NOTE: Remove it for valid icon. -->

        <title>template</title>

        <!--
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2"></script>
        -->
        <script src="lib/vue/vue.global.js"></script>
        <link href="lib/vuetify/vuetify.min.css" rel="stylesheet">
        <script src="lib/vuetify/vuetify.min.js"></script>

        <!-- Material Design Icons -->
        <!--
        <link href="http://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" rel="stylesheet">
        -->
        <link href="lib/MaterialDesign/materialdesignicons.min.css" rel="stylesheet">

        <!--
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        -->

    </head>

    <body>

<style>
body {
    height: 100vh;
}
#main {
    height: 100vh;
}
.w-0 {
    display: flex;
    justify-content: stretch;
}
.w-c {
    display: flex;
    justify-content: center;
}
.w-l {
    display: flex;
    justify-content: left;
}
.w-r {
    display: flex;
    justify-content: right;
}
#submitEndOfSession.v-list-item--variant-outlined {
    border: 2px solid #ff0000 !important;
}
</style>

<div id="app">

    <v-app>
        <v-main fluid id="main">

            <v-toolbar color="green-lighten-1" title="感染者疫学調査" density="compact">
                <v-spacer></v-spacer>
                <v-btn
                    icon="mdi-menu"
                    @click.stop="drawer = !drawer"
                    ></v-btn>
            </v-toolbar>

            <v-sheet class="mt-1 pa-2" color="grey-lighten-4">
                {{MessageToUser}}
            </v-sheet>

            <!--メイン-->
            <v-row dense>
                <v-col md="1" sm="2" xs="4">
                    <v-sheet class="mt-1 ml-1">
                        <div :class="`mt-1 mx-1 pa-2 text-h6 text-center border ${roleColor}`">
                            {{roleNameText}}
                        </div>
                        <!--入力操作-->
                        <div class="mt-2 mx-1">
                            <v-btn
                                @click="submitChatInputText"
                                density="default"
                                block
                                color="grey-lighten-4"
                                size="x-large"
                                text="送信"
                                >
                            </v-btn>
                        </div>
                    </v-sheet>
                </v-col>

                <v-col md="11" sm="10" xs="8">
                    <!--入力-->
                    <div class="mt-1 mr-1 border">
                        <v-textarea
                            style="font-size: large"
                            rows="4"
                            v-model="chatInputText"
                            outlined
                            clearable
                            clear-icon="mdi-close-circle"
                            no-resize
                            density="compact"
                            hide-details="true"
                            :counter="chatInputMaxSize"
                            :rules="chatInputSizeCheck"
                            :label="chatInputMaxSizeText"
                            :disabled="chatInputDisabled"
                            @input="chatInputSubmitWithEnter"
                        ></v-textarea>
                    </div>
                </v-col>
            </v-row>

            <!--履歴-->
            <v-sheet style="height: 75vh">
                <!--会話履歴-->
                <v-sheet class="mt-1 mx-1 pa-2 text-h5 border" color="grey-lighten-4">
                    会話履歴
                </v-sheet>
                <!--会話履歴メイン-->
                <v-sheet
                    id="divChatHistory"
                    style="height: 69vh; overflow-x: hidden; overflow-y: auto;"
                    class="my-1 mx-1 pa-2 border"
                >
                    <div v-for="item in chatHistory" :key="item.num">
                        <div v-if="item.num%2 == 1" :class="chatHistoryLeftStyle">
                            <v-icon icon="mdi-account-tie-woman" size="large" :color="yourIconColor"></v-icon>
                            <span>{{item.message}}</span>
                        </div>
                        <div v-if="item.num%2 == 0" :class="chatHistoryRightStyle">
                            <span>{{item.message}}</span>
                            <v-icon icon="mdi-account" size="large" :color="peerIconColor"></v-icon>
                        </div>
                    </div>
                </v-sheet>
            </v-sheet>

        </v-main>

        <!-- ドロワー -->
        <v-navigation-drawer
            v-model="drawer"
            location="right"
            persistent
            temporary
            width="360"
        >
            <v-toolbar title="操作メニュー">
                <v-spacer></v-spacer>
                <v-btn
                    prepend-icon="mdi-window-close"
                    @click.stop="drawer = !drawer"
                    ></v-btn>
            </v-toolbar>

            <v-divider></v-divider>

            <v-list density="compact" nav>

                <v-list-item
                    title="ロール"
                    >
                    <!-- ダイアログ -->
                    <v-dialog
                        v-model="registrationDialog"
                        persistent
                        with="auto"
                        max-width="400px"
                    >
                        <template v-slot:activator="{ props: activatorProps }">
                            <v-btn
                                density="default"
                                block
                                class="pa-2"
                                :disabled="roleNameBtnDisabled"
                                v-bind="activatorProps"
                            >
                                {{roleNameText}}
                            </v-btn>
                        </template>
                        <v-card
                            prepend-icon="mdi mdi-account-alert"
                            title="ロールの選択"
                            text="保健師か患者を選択してください。"
                        >
                            <template v-slot:actions>
                                <v-spacer></v-spacer>
                                <v-radio-group v-model="roleNameDraft">
                                    <v-radio label="保健師" value="保健師"></v-radio>
                                    <v-radio label="患者" value="患者"></v-radio>
                                </v-radio-group>
                                <v-btn
                                    class="pa-2 elevation-2"
                                    @click="submitRegistrationDialog">
                                    登録
                                </v-btn>
                            </template>
                        </v-card>
                    </v-dialog>
                </v-list-item>

                <v-list-item
                    id="submitEndOfSession"
                    class="mt-2 mr-2"
                    prepend-icon="mdi-file-document-check-outline"
                    title="会話の終了"
                    variant="outlined"
                    @click="submitEndSessionRequest">
                </v-list-item>

                <v-divider thickness="2" color="block" class="my-3"></v-divider>

                <v-list-item
                    title="文字の大きさ"
                    >
                    <v-slider
                        v-model="chatHitsoryFontSizeNum"
                        @end="changeFontSize"
                        :ticks="{0:'小',1:'中',2:'大'}"
                        min="0"
                        max="2"
                        step="1"
                        show-ticks="always"
                        tick-size="2"
                        width="large"
                    ></v-slider>
                </v-list-item>

                <v-list-item>
                    <v-checkbox
                        label="　　改行で送信"
                        v-model="confSubmitWithEnter"
                        density="compact"
                        hide-details="true"
                    ></v-checkbox>
                </v-list-item>

                <v-list-item>
                    <v-checkbox
                        label="　　送信後クリア"
                        v-model="confSubmitThenClear"
                        density="compact"
                        hide-details="true"
                    ></v-checkbox>
                </v-list-item>

                <v-list-item
                    title="会話の最後へ"
                    prepend-icon="mdi-arrow-collapse-down"
                    @click="closeAndChatHistoryToBottom"
                    >
                </v-list-item>

            </v-list>

        </v-navigation-drawer>

    </v-app>

</div>

<script>
async function get_data(url, opt) {
    opt.headers = { 'Content-Type': 'application/json' };
    const res = await fetch(url, opt);
    return await res.json();
}

const {createApp, h} = Vue;
const {createVuetify} = Vuetify;
const vuetify = createVuetify();
const app = createApp({
    data() {
        return {
            debugAlone: false,
            // conditions
            userId: null,
            userStatus: null,
            ws: null,
            protocol: null,
            host: null,
            drawer: false,
            // registraion
            roleNameBtnDisabled: false,
            registrationDialog: true,
            roleNameText: '━━━',
            roleColor: '',
            roleNameDraft: null,
            // chat history
            chatHistory: [],
            chatHistoryLastNum: 0,
            chatHitsoryFontSizeNum: 1,
            chatHistoryFontSize: 'text-h5',
            // chat input
            chatInputDisabled: true,
            confSubmitWithEnter: false,
            confSubmitThenClear: true,
            chatInputText: '',
            chatInputMaxSize: 150,
            chatInputSizeCheck: [v => v.length <= this.chatInputMaxSize || `最大${this.chatInputMaxSize}文字`],
            //
            MessageToUser: 'ロールを選択してください。',
        };
    },
    mounted() {
        ret = RegExp('^(http?)://([^/]+)/').exec(document.baseURI);
        this.protocol = ret[1];
        this.host = ret[2];
    },
    computed: {
        chatHistoryLeftStyle: function() {
            return `w-l mt-1 mx-1 pa-2 align-center ${this.chatHistoryFontSize} elevation-2`;
        },
        chatHistoryRightStyle: function() {
            return `w-r mt-1 mx-1 pa-2 align-center ${this.chatHistoryFontSize} elevation-2`;
        },
        chatInputMaxSizeText: function() {
            return `質問を入力してください。(${this.chatInputMaxSize}文字以内)`;
        },
    },
    methods: {
        sessionInitialized() {
            // 初期化
            this.userId = null;
            this.userStatus = null;
            this.roleNameText = '━━━';
            this.roleColor = '';
            this.roleNameDraft = null;
            this.chatHistory = [];
            this.chatHistoryLastNum = 0;
            this.registrationDialog = true;
        },
        submitRegistrationDialog(value) {
            if (this.roleNameDraft !== null) {
                this.roleNameText = this.roleNameDraft;
                if (this.roleNameText == '保健師') {
                    this.roleColor = 'bg-blue';
                    this.yourIconColor = 'blue';
                    this.peerIconColor = 'lime';
                } else {
                    this.roleColor = 'bg-lime';
                    this.peerIconColor = 'lime';
                    this.yourIconColor = 'lime';
                    this.peerIconColor = 'blue';
                }
                this.roleNameBtnDisabled = true;
                this.registrationDialog = false;
                if (this.debugAlone) {
                    //一人デバッグ
                    this.chatInputDisabled = false;
                    this.userStatus = 'Established';
                    this.MessageToUser = '一人デバッグモードです。';
                    return;
                }
                this.startWebSocket();
            }
        },
        startWebSocket() {
            let opt = {
                method: 'POST',
                body: JSON.stringify({
                    msg_type: 'RegistrationRequest',
                    user_role: this.roleNameDraft,
                }),
            };
            let url = `${this.protocol}://${this.host}/v1`;
            get_data(url, opt).then(res => {
                this.userId = res.user_id;
                this.userStatus = res.user_status;
console.log("HTTP", res);
                if (res.msg_type == 'RegistrationAccepted') {
                    this.MessageToUser = '登録が完了しました。相手を待っています。';
                } else {
                    this.MessageToUser = 'ERROR';
                }
                //
                let url = `ws://${this.host}/v1/ws/${this.userId}`;
                this.ws = new WebSocket(url);
                let it = this
                this.ws.onmessage = function (event) {
                    ret = JSON.parse(event.data);
console.log("WS", ret);
                    if (ret.msg_type == 'Prepared') {
                        it.MessageToUser = '相手を探しています。';
                    } else if (ret.msg_type == 'Established') {
                        it.userStatus = ret.user_status;
                        it.MessageToUser = '相手の準備ができました。入力を開始できます。';
                        it.chatInputDisabled = false;
                    } else if (ret.msg_type == 'MessageForwarded') {
                        it.MessageToUser = '相手が応答しました。';
                        it.chatHistory.push({
                            num: it.chatHistoryLastNum + 2,
                            message: ret.user_msg,
                        });
                        // 後処理
                        it.chatInputLock = false;
                        if (it.confSubmitThenClear === true) {
                            it.chatInputText = '';
                        }
                        it.chatHistoryToBottom();
                    } else if (ret.msg_type == 'SessionTerminated') {
                        it.MessageToUser = '接続が切れました。ロールの選択からはじめてください。';
                        it.ws = null;
                        it.sessionInitialized();
                    }
                }
            });
        },
        chatInputSubmitWithEnter(value) {
            if (this.confSubmitWithEnter === false) {
                return;
            }
            if ((value.inputType == 'insertText' && value.data == null) ||
                (value.inputType == 'insertLineBreak')) {
                this.submitChatInputText();
                return;
            }
        },
        submitChatInputText(value) {
            this.chatInputText = this.chatInputText.trim()
            if (this.userStatus != 'Established') {
                this.MessageToUser = `相手が見つかっていません。しばらくお待ちください。`;
                return;
            }
            if (!this.chatInputText) {
                this.MessageToUser = `何か入力してください。`;
                return;
            }
            if (this.chatInputLock) {
                this.MessageToUser = `相手の応答を待っています。しばらくお待ちください。`;
                return;
            }
            // lock.
            this.chatInputLock = true;
            // input
            if (this.chatHistory.length == 0) {
                this.chatHistoryLastNum = 0
            } else {
                this.chatHistoryLastNum = this.chatHistory.slice(-1)[0].num;
            }
            this.chatHistory.push({
                num: this.chatHistoryLastNum + 1,
                message: this.chatInputText,
            });
            this.chatHistoryToBottom();
            // response
            if (this.debugAlone) {
                this.getChatResponseDebug(this.chatInputText);
            } else {
                this.getChatResponse(this.chatInputText);
            }
        },
        async submitEndSessionRequest(value) {
            this.drawer = false;
            // サーバから削除する。
            await this.ws.send(JSON.stringify({
                msg_type: 'EndSessionRequest',
                user_id: this.userId,
            }));
        },
        async getChatResponse(input_text) {
            await this.ws.send(JSON.stringify({
                msg_type: 'MessageSubmitted',
                user_id: this.userId,
                user_msg: input_text,
            }));
        },
        async getChatResponseDebug(input_text) {
            //デバッグ用
            await new Promise(resolve => setTimeout(resolve, 3000));
            response = `「${input_text}」と言いましたね。`;
            this.chatHistory.push({
                num: this.chatHistoryLastNum + 2,
                message: response,
            });
            // 後処理
            this.chatInputLock = false;
            if (this.confSubmitThenClear === true) {
                this.chatInputText = '';
            }
            this.chatHistoryToBottom();
        },
        closeAndChatHistoryToBottom() {
            this.drawer = false;
            this.chatHistoryToBottom();
        },
        async chatHistoryToBottom() {
            // 履歴をスクロールさせる。
            // レンダリングされるまで少し待つ必要があるためsetTimeout()する。
            await new Promise(resolve => setTimeout(resolve, 300));
            const container = document.getElementById("divChatHistory");
            container.scrollTop = container.scrollHeight;
        },
        changeFontSize(value) {
            if (value == 0) {
                this.chatHistoryFontSize = 'text-h6';
            } else if (value == 1) {
                this.chatHistoryFontSize = 'text-h5';
            } else if (value == 2) {
                this.chatHistoryFontSize = 'text-h4';
            }
            this.chatHistoryToBottom();
        },
    },
});
app.use(vuetify).mount('#app');

</script>

    </body>

</html>

