<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" href="data:,"> <!-- NOTE: Remove it for valid icon. -->

        <title>template</title>

        <!--
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2"></script>
        -->
        <script src="lib/vue/vue.global.js"></script>
        <link href="lib/vuetify/vuetify.min.css" rel="stylesheet">
        <script src="lib/vuetify/vuetify.min.js"></script>

        <!-- Material Design Icons -->
        <!--
        <link href="http://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" rel="stylesheet">
        -->
        <link href="lib/MaterialDesign/materialdesignicons.min.css" rel="stylesheet">

        <!--
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        -->

    </head>

    <body>

<style>
body {
    height: 100vh;
}
#main {
    height: 100vh;
}
.w-0 {
    display: flex;
    justify-content: stretch;
}
.w-c {
    display: flex;
    justify-content: center;
}
.w-l {
    display: flex;
    justify-content: left;
}
.w-r {
    display: flex;
    justify-content: right;
}
</style>

<div id="app">
    <v-container fluid id="main">
        <v-row dense>
            <div style="width: 100vw" class="text-h4 pa-2 elevation-2">
                感染者疫学調査
            </div>
        </v-row>
        <v-row style="height: 90vh" dense>
            <v-col cols="2">
                <!--全体操作-->
                <div style="height: 89vh" class="elevation-2">
                    <div class="w-c ma-2">
                        <!-- ダイアログ -->
                        <v-dialog
                            max-width="50vw"
                            v-model="registrationDialog"
                            persistent
                        >
                        <template v-slot:activator="{ props: activatorProps }">
                            <v-btn
                                width="90%"
                                class="pa-2"
                                v-bind="activatorProps"
                            >
                                {{roleNameText}}
                            </v-btn>
                        </template>
                        <v-card
                            prepend-icon="mdi mdi-account-alert"
                            title="ロールの選択"
                            text="保健師か患者を選択してください。"
                        >
                            <template v-slot:actions>
                                <v-spacer></v-spacer>
                                <v-radio-group v-model="roleNameDraft">
                                    <v-radio label="保健師" value="保健師"></v-radio>
                                    <v-radio label="患者" value="患者"></v-radio>
                                </v-radio-group>
                                <v-btn
                                    class="pa-2 elevation-2"
                                    @click="submitRegistrationDialog">
                                    登録
                                </v-btn>
                            </template>
                        </v-card>
                        </v-dialog>

                    </div>
                </div>
            </v-col>
            <v-col cols="10">
                <!--メイン-->
                <v-row style="height: 75vh" dense>
                    <v-col cols="10">
                        <!--会話履歴-->
                        <div style="height: 74vh" elevation="2">
                            <div style="" class="text-h4 pa-2">
                                会話履歴
                            </div>
                            <div ref="divChatHistory" style="height: 67vh; overflow-x: hidden; overflow-y: auto;">
                                <div v-for="item in chatHistory" :key="item.num">
                                    <div v-if="item.num%2 == 1" :class="chatHistoryLeftStyle">
                                        <span class="mdi mdi-hospital-box"></span>
                                        <span>{{item.message}}</span>
                                    </div>
                                    <div v-if="item.num%2 == 0" :class="chatHistoryRightStyle">
                                        <span>{{item.message}}</span>
                                        <span class="mdi mdi-account"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </v-col>
                    <v-col cols="2">
                        <!--履歴操作-->
                        <div style="height: 74vh" class="elevation-2">
                            <div class="w-c ma-2">
                                <v-btn width="90%" class="pa-2">履歴の保存</v-btn>
                            </div>
                            <div class="ma-2">
                                <v-label class="text-caption pa-2">
                                    字の大きさ
                                </v-label>
                                <div class="pa-2">
                                    <v-slider
                                        v-model="chatHitsoryFontSizeNum"
                                        @end="changeFontSize"
                                        :ticks="{0:'小',1:'中',2:'大'}"
                                        min="0"
                                        max="2"
                                        step="1"
                                        show-ticks="always"
                                        tick-size="2"
                                    ></v-slider>
                                </div>
                            </div>
                            <div class="w-c ma-2">
                                <v-btn
                                    v-bind="chatHistoryToBottom"
                                    width="90%"
                                    class="pa-2">
                                    会話の最後へ
                                </v-btn>
                            </div>
                        </div>
                    </v-col>
                </v-row>
                <v-row dense>
                    <v-col cols="10">
                        <!--入力-->
                        <div class="mt-2 elevation-2">
                            <v-textarea
                                style="font-size: large"
                                v-model="chatInputText"
                                outlined
                                clearable
                                clear-icon="mdi-close-circle"
                                no-resize
                                rows="4"
                                :counter="chatInputMaxSize"
                                :label="chatInputMaxSizeText"
                                @input="chatInputSubmitWithEnter"
                            ></v-textarea>
                        </div>
                    </v-col>
                    <v-col cols="2">
                        <!--入力操作-->
                        <div class="elevation-2">
                            <div>
                                <v-btn style="width: 90%" class="pa-2"
                                    @click="submitChatInputText"
                                    >
                                    送信
                                </v-btn>
                                <v-checkbox
                                    label="改行で送信"
                                    v-model="confSubmitWithEnter"
                                    hide-details="auto"
                                ></v-checkbox>
                                <v-checkbox
                                    label="送信後クリア"
                                    v-model="confSubmitThenClear"
                                    hide-details="auto"
                                ></v-checkbox>
                            </div>
                        </div>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-container>

</div>

<script>
const {createApp, h} = Vue;
const {createVuetify} = Vuetify;
const vuetify = createVuetify();
const app = createApp({
    data() {
        return {
            // registraion
            registrationDialog: false,
            roleName: null,
            roleNameText: 'ロールの選択',
            roleNameDraft: null,
            registered: false,
            // chat history
            chatHitsoryFontSizeNum: 1,
            chatHistoryFontSize: 'text-h5',
            chatInputText: '',
            chatInputMaxSize: 150,
            chatHistory: [],
            // chat input
            confSubmitWithEnter: true,
            confSubmitThenClear: true,
        };
    },
    computed: {
        chatHistoryLeftStyle: function() {
            return `w-l ma-2 pa-2 ${this.chatHistoryFontSize} elevation-2`;
        },
        chatHistoryRightStyle: function() {
            return `w-r ma-2 pa-2 ${this.chatHistoryFontSize} elevation-2`;
        },
        chatInputMaxSizeText: function() {
            return `質問を入力してください。(${this.chatInputMaxSize}文字以内)`;
        },
    },
    methods: {
        submitRegistrationDialog(value) {
            if (this.roleNameDraft !== null) {
                this.roleName = this.roleNameDraft;
                this.roleNameText = this.roleNameDraft;
                this.registrationDialog = false;
            }
        },
        chatInputSubmitWithEnter(value) {
            if (this.confSubmitWithEnter === false) {
                return;
            }
            if ((value.inputType == 'insertText' && value.data == null) ||
                (value.inputType == 'insertLineBreak')) {
                this.submitChatInputText();
                return;
            }
        },
        submitChatInputText(value) {
            this.chatInputText = this.chatInputText.trim()
            if (!this.chatInputText) {
                console.log(`chatInputTextがからっぽ`);
                return;
            }
            if (this.chatInputLock) {
                console.log(`相手の応答をまってからるちょっとまって`);
                return;
            }
            // lock.
            this.chatInputLock = true;
            // input
            if (this.chatHistory.length == 0) {
                max_num = 0
            } else {
                max_num = this.chatHistory.slice(-1)[0].num;
            }
            this.chatHistory.push({
                num: max_num + 1,
                message: this.chatInputText,
            });
            // response
            this.getChatResponse(this.chatInputText);
        },
        async getChatResponse(input_text) {
            await new Promise(resolve => setTimeout(resolve, 3000));
            response = `${input_text} は分かりません。`;
            this.chatHistory.push({
                num: max_num + 2,
                message: response,
            });
            // 後処理
            this.chatInputLock = false;
            if (this.confSubmitThenClear === true) {
                this.chatInputText = '';
            }
            this.chatHistoryToBottom();
        },
        async chatHistoryToBottom() {
            // 履歴をスクロールさせる。
            // いまいちな感じ。
            await new Promise(resolve => setTimeout(resolve, 500));
            let children = this.$refs.divChatHistory.children;
            children[children.length-1].scrollIntoView({ behavior: 'instant', block: 'end' });
        },
        changeFontSize(value) {
            if (value == 0) {
                this.chatHistoryFontSize = 'text-h6';
            } else if (value == 1) {
                this.chatHistoryFontSize = 'text-h5';
            } else if (value == 2) {
                this.chatHistoryFontSize = 'text-h4';
            }
            this.chatHistoryToBottom();
        },
    },
});
app.use(vuetify).mount('#app');

</script>

    </body>

</html>

